.details-wrap {
  width: 60%;
  margin: 6.2% auto 2% auto;
  min-height: 720px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .details-items {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    .details-name {
      display: flex;
      justify-content: center;
      width: 100%;
      color: rgb(94, 68, 104);
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      box-shadow: rgba(118, 118, 219, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      text-align: center;
      padding: 1.2rem;
      border-radius: 1.2rem;
      box-sizing: border-box;
    }
    .details-video {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      iframe {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        border-radius: 0.8rem;
      }
    }
    .details-info {
      pre {
        span {
          font-style: normal;
          font-family: "Playwrite IE Guides", serif;
        }
      }
    }
    .details-buy {
      display: flex;
      align-items: center;
      button {
        padding: 0.64rem;
        background: #f7f6f6;
        border: 1px solid #333333a4;
        border-radius: 0.4rem;
        cursor: pointer;
        font-weight: 500;
      }
      .for-month {
        margin-right: 0.4rem;
      }
      button:hover {
        background-color: #424242;
        transition: 0.4s;
        color: whitesmoke;
        transition: 0.4s;
      }
    }
  }
}
